target/
.tools/
.idea/*
!.idea/codeStyles/
*.iml
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
.settings/
.classpath
.project
*.log
resp.json
resp_byid.json
# Added by code-review-graph
.code-review-graph/
